<div class="container text-center">
    <div class="container">
      <h1>My Information</h1>
      <hr>
      <div>
        
        <table ng-if="!signUpCtrl.getInformation.length">
            <tr>
                <th colspan="4">First Name</td>
                <td align="left">{{ signUpCtrl.getInformation.firstName }}</td>
            </tr>
            <tr>
                <th colspan="4">Last Name</td>
                <td align="left">{{ signUpCtrl.getInformation.lastName }}</td>
            </tr>
            <tr>
                <th colspan="4">Email</td>
                <td align="left">{{ signUpCtrl.getInformation.email }}</td>
            </tr>
            <tr>
                <th colspan="4">Phone Number</td>
                <td align="left">{{ signUpCtrl.getInformation.phone }}</td>
            </tr>
            <tr>
                <th colspan="4">Favorite Dish Menu Number</td>
                <td align="left">{{ signUpCtrl.getInformation.dish.$$state.value.short_name }}</td>
            </tr>
        </table>
        
        <menu-item ng-if="!signUpCtrl.getInformation.length"
             menu-item="signUpCtrl.getInformation.dish.$$state.value" 
             category-short-name="signUpCtrl.getInformation.shortName">
        </menu-item>

      </div>
      <div ng-if="signUpCtrl.getInformation.length">
        No information yet.
      </div>
    </div>
</div>