<div class="container text-center">
      <form name="signup">
        <div class="container">
          <h1>Sign Up for NewsLetter!</h1>
          <hr>

          <label for="firstName"><b>First Name</b></label><br>
          <input style="color: black;" type="text" placeholder="Enter First Name" name="firstName" ng-model="firstName" ng-required="true"><br>
          <div ng-show="signup.firstName.$touched && signup.firstName.$invalid">
            <small style="color: red;">
              First Name is required
            </small>
          </div>

          <label for="lastName"><b>Last Name</b></label><br>
          <input style="color: black;" type="text" placeholder="Enter Last Name" name="lastName" ng-model="lastName"  ng-required="true"><br>
          <div ng-show="signup.lastName.$touched && signup.lastName.$invalid">
            <small style="color: red;">
              Last Name is required
            </small>
          </div>

          <label for="email"><b>Email</b></label><br>
          <input style="color: black;" type="text" ng-model="email" placeholder="Enter Email" name="email"  ng-required="true" ><br>
          <div ng-show="signup.email.$touched && signup.email.$invalid">
            <small style="color: red;">
              Email is required
            </small>
          </div>

          <label for="phone"><b>Phone</b></label><br>
          <input style="color: black;" type="text" placeholder="Enter Phone Number" name="phone" ng-model="phone"  ng-required="true"><br>
          <div ng-show="signup.phone.$touched && signup.phone.$invalid">
            <small style="color: red;">
              Phone number is required
            </small>
          </div>

          <label for="menuNumber"><b>Menu Number</b></label><br>
          <input style="color: black;" type="text" placeholder="Enter desired menu number" ng-model="menuNumber" name="menuNumber"  ng-required="true" style="margin-bottom:15px"><br>
          <div ng-show="signup.menuNumber.$touched && signup.menuNumber.$invalid">
            <small style="color: red;">
              Menu Number is required
            </small>
          </div>

          <div ng-show="errorMessage">
            {{errorMessage}}
          </div>
      
          <div class="clearfix" style="margin-bottom: 15px;">
            <button type="button" class="cancelbtn btn-primary">Cancel</button>
            <button type="submit" class="signupbtn btn-primary" ng-click="checkInfo()" ng-disabled="signup.$invalid">Sign Up</button>
          </div>
          <div ng-if="isValid">
            Registered Successfully!
          </div>
        </div>
      </form>
</div>