<div class="container text-center">
        <div class="container">
          <h1>Sign Up for NewsLetter!</h1>
          <hr>

          <label for="firstName"><b>First Name</b></label><br>
          <input style="color: black;" type="text" placeholder="Enter First Name" name="firstName" ng-model="firstName"><br>
      
          <label for="lastName"><b>Last Name</b></label><br>
          <input style="color: black;" type="text" placeholder="Enter Last Name" name="lastName" ng-model="lastName" required><br>

          <label for="email"><b>Email</b></label><br>
          <input style="color: black;" type="text" ng-model="email" placeholder="Enter Email" name="email" required ><br>

          <label for="phone"><b>Phone</b></label><br>
          <input style="color: black;" type="text" placeholder="Enter Phone Number" name="phone" ng-model="phone" required><br>

          <label for="menuNumber"><b>Menu Number</b></label><br>
          <input style="color: black;" type="text" placeholder="Enter desired menu number" ng-model="menuNumber" name="menuNumber" required style="margin-bottom:15px"><br>
      
          <div class="clearfix" style="margin-bottom: 15px;">
            <button type="button" class="cancelbtn btn-primary">Cancel</button>
            <button type="submit" class="signupbtn btn-primary" ng-click="checkInfo()">Sign Up</button>
          </div>
          

          <div>
            {{ getInfo() }}
          </div>

        </div>

  </div>